@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500&display=swap");

* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

:root {
    --primary: #f36e6e;
    --secondary: #ffffff;

    --peach: #f36e6e;
    --purple: #b29eca;
    --orange: #ed9768;
    --blue: #22b8e9;
    --green: #3eb390;
    --yellow: #f9a803;
    --dark-blue: #0a84ff;
    --warning: rgb(235, 235, 45);
    --alert: rgb(247, 10, 10);

    --active: #0a43ff;
    --desabled: #ffffff66;

    --font-primary: #334669;
    --font-secondary: #566886;
    --font-desabled: #9dadc0;

    --theme-light: #e3f1fa;
    --theme-dark: #161718;
    --font-color: #343a40;
}

/*====fonts==== */
.title {
    font-size: 2.2em;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    letter-spacing: 1pt;
    color: var(--font-primary);
}

.card-title {
    font-size: 1.125em;
    font-weight: 500;
    margin: 0 0 1rem 0;
    letter-spacing: 0.6pt;
    color: var(--font-primary);
}

.txt-info {
    font-size: 0.875em;
    color: var(--font-secondary);
    margin: 0 0 1rem 0;
}

.fs-1 {
    font-size: 2.03125rem !important;
}

.fs-2 {
    font-size: 1.625rem !important;
}

.fs-3 {
    font-size: 1.421875rem !important;
}

.fs-4 {
    font-size: 1.21875rem !important;
}

.fs-5 {
    font-size: 1.015625rem !important;
}

.fs-6 {
    font-size: .8125rem !important;
}

/*  font-weight */
.fw-bold {
    font-weight: 700 !important;
}

.fw-bolder {
    font-weight: bolder !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-light {
    font-weight: 300 !important;
}

.fw-lighter {
    font-weight: lighter !important;
}

.fst-italic {
    font-style: italic !important;
}

.fst-normal {
    font-style: normal !important;
}

/* text case */
.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}


/* ====Flex==== */
.flex {
    display: flex;
    padding: 5px 5px;
    justify-content: space-around;
}

#flex {
    display: flex;
}

.d-flex {
    display: flex;
    align-items: center;
}

#block {
    display: block;
}

.gap-3 {
    gap: 1rem !important;
}

/* =====Positions===== */
.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.top-0 {
    top: 0 !important;
}

.start-100 {
    left: 100% !important;
}

/* =====Buttons==== */
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 0.9rem;
    font-size: .8125rem;
    border-radius: 0.25rem;
}

.btn-primary {
    color: #fff;
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.btn-light {
    color: #000;
    background-color: var(--secondary);
    border-color: var(--secondary);
}

/* =====bg colors==== */
.bg-primary {
    background-color: var(--peach);
}

.bg-secondary {
    background-color: var(--purple);
}

.bg-success {
    background-color: var(--green);
}

.bg-info {
    background-color: var(--blue);
}

.bg-warning {
    background-color: var(--yellow);
}

.bg-danger {
    background-color: var(--alert);
}

.bg-dark {
    background-color: var(--theme-dark);
}


/* ====fonts(typography)==== */
.font-details {
    font-weight: 500;
    color: var(--font-color);
}

.h1 {
    font-size: 2.03125rem;
}

.h2 {
    font-size: 1.625rem;
}

.h3 {
    font-size: 1.42188rem;
}

.h4 {
    font-size: 1.21875rem;
}

.h5 {
    font-size: 1.01563rem;
}

.h6 {
    font-size: 0.8125rem;
}

cite {
    font-style: italic;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* =====preview section======*/
.preview {
    display: flex;
    gap: 0.8rem !important;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 2rem 0;
}

/* ======margin-padding-border-radius====== */
.m-b {
    margin-bottom: 1rem;
}

.mt-0 {
    margin-top: 0 !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

/* ====card====== */
.card {
    border-radius: 0.8rem;
    margin: 0 0 1.5rem 0;
    padding: 1rem;
}

.card-shadow {
    box-shadow: 2px 2px 8px -4px rgb(0 0 0 / 30%),
        -4px -4px 8px -4px rgb(255 255 255), -1px 0px 0px 1px rgb(255 255 255);
}

.container {
    padding: 1.5rem;
}

.theme-light {
    background-color: var(--theme-light);
}

/* ======code===== */
code {
    font-size: 0.875em;
    color: var(--dark-blue);
    word-wrap: break-word;
    font-weight: 500;
    letter-spacing: 0.5pt;
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

/* =====Typography Css==== */
.display-1 {
    font-size: 5rem;
    color: var(--font-color);
}

.display-2 {
    font-size: 4.5rem;
    color: var(--font-color);
}

.display-3 {
    font-size: 4rem;
    color: var(--font-color);
}

.display-4 {
    font-size: 3.5rem;
    color: var(--font-color);
}

.display-5 {
    font-size: 3rem;
    color: var(--font-color);
}

.display-6 {
    font-size: 2.5rem;
    color: var(--font-color);
}

.blockquote {
    padding: 10px 20px;
    border-left: 4px solid #878e91;
}

.blockquote>:last-child {
    margin-bottom: 0;
}

.blockquote-footer {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    font-size: .875em;
    color: #878a99;
}

.blockquote-reverse {
    border-left: 0;
    border-right: 4px solid #878e91;
    text-align: right;
}

.blockquote-footer::before {
    content: "— ";
}

.custom-blockquote.blockquote.blockquote-primary {
    color: var(--dark-blue);
    border-color: var(--dark-blue);
    background-color: rgba(75, 56, 179, .15);
}

.custom-blockquote.blockquote {
    padding: 16px;
    border-left: 3px solid;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: .89375rem;
}

.custom-blockquote.blockquote.blockquote-secondary {
    color: var(--blue);
    border-color: var(--blue);
    background-color: rgba(53, 119, 241, .15);
}

.custom-blockquote.blockquote.blockquote-success {
    color: var(--green);
    border-color: var(--green);
    background-color: rgba(69, 203, 133, .15);
}

.custom-blockquote.blockquote.blockquote-danger {
    color: var(--orange);
    border-color: var(--orange);
    background-color: rgba(240, 101, 72, .15);
}

.custom-blockquote.blockquote.blockquote-outline.blockquote-primary {
    border-color: var(--dark-blue);
}

.custom-blockquote.blockquote.blockquote-outline {
    background-color: var(--theme-light) !important;
    border: 1px solid;
    border-left: 3px solid;
}

.lead {
    font-size: 1.015625rem;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #33476b4d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #33466999;
}

/*========Inputs(page)=======*/
.floating-form {
    width: 354px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 38px 20px;
    border-radius: 8px;
}

.floating-label {
    position: relative;
    margin-bottom: 34px;
    /* display: flex; */
    width: 100%;
}

.floating-input,
.floating-select {
    font-size: 14px;
    padding: 0;
    display: block;
    width: calc(100% - 8px);
    position: relative;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
    outline: none;
    border-bottom: 2px solid #4b4b4f;
}

label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    padding: 0;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
    top: -18px;
    font-size: 14px;
    color: #4b4b4f;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
    top: -18px;
    font-size: 14px;
    color: #4b4b4f;
}

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
    width: 50%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
}

.highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #4b4b4f;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #4b4b4f;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #4b4b4f;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/*=====Badges.html starts=====*/
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-soft-primary {
    color: var(--active);
    background-color: rgba(75, 56, 179, .1);
}

.badge-soft-secondary {
    color: var(--blue);
    background-color: rgba(53, 119, 241, .1);
}

.badge-soft-success {
    color: var(--green);
    background-color: rgba(69, 203, 133, .1);
}

.badge-soft-info {
    color: var(--purple);
    background-color: #b6a7c97c;
}

.badge-soft-warning {
    color: var(--yellow);
    background-color: rgba(255, 190, 11, .1);
}

.badge-soft-danger {
    color: var(--orange);
    background-color: rgba(240, 101, 72, .1);
}

.badge-soft-dark {
    color: var(--theme-dark);
    background-color: rgba(51, 51, 51, 0.514);
}

/* outline badges */
.badge-outline-primary {
    color: var(--active);
    border: 1px solid var(--active);
    background-color: transparent;
}

.badge-outline-secondary {
    color: var(--blue);
    border: 1px solid var(--blue);
    background-color: transparent;
}

.badge-outline-success {
    color: var(--green);
    border: 1px solid var(--green);
    background-color: transparent;
}

.badge-outline-info {
    color: var(--purple);
    border: 1px solid var(--purple);
    background-color: transparent;
}

.badge-outline-warning {
    color: var(--yellow);
    border: 1px solid var(--yellow);
    background-color: transparent;
}

.badge-outline-danger {
    color: var(--orange);
    border: 1px solid var(--orange);
    background-color: transparent;
}

.badge-outline-dark {
    color: var(--theme-dark);
    border: 1px solid var(--theme-dark);
    background-color: transparent;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.badge-border {
    border-left: 2px solid;
}

.badge-label {
    margin-left: 8px;
    position: relative;
}

.btn .badge {
    /* position: relative !important; */
    top: -10px !important;
    left: calc(100% - 14px) !important;
}

/*=======Badges.html ends=====*/

/*========Pages css (dashboard)====== */
/* my profile */
.nav {
    box-shadow: 0 10px 10px -10px #f4f4f4, 0 10px 10px -10px #cbcbcb;
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
}

#user-img {
    width: 100%;
    display: flex;
}

.user-img {
    width: 120px;
    border-radius: 64px;
    margin: auto;
}

.nav-content {
    display: flex;
    align-items: center;
    color: var(--font-color);
    font-size: 12px;
}

.card-dashboard-profile {
    background: #fff;
    border-radius: 8px;
    margin: 12px 8px;
}

#profile-form {
    margin: auto;
    width: 470px;
    margin-top: 12px;
    margin-bottom: 12px !important;
}

.error-msg {
    font-size: 12px;
    position: relative;
    left: 0;
    color: var(--error);
}

#error-msg {
    font-size: 12px;
    position: relative;
    left: 0;
    color: var(--error);
}

#user-error-tick,
#tick-lastname,
#tick-password,
#tick-email,
#tick-contact,
#address-tick,
#tick-pin,
#contact-tick {
    display: none;
    color: var(--correct);
    position: absolute;
    right: 12px;
    top: 0;
}

#wrong-user,
#wrong-lastname,
#error-add,
#error-pin,
#contact-error,
#e-error,
#ps-error {
    display: none;
    color: var(--error);
    position: absolute;
    right: 12px;
    top: 0;
}

#form-val {
    display: block;
}

#the-count {
    font-size: 12px;
    color: var(--correct);
}

/* .btn {
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    background: var(--peach);
    padding: 6px 8px;
    border-radius: 6px;
    border: none;
} */

.login-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}