@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500&display=swap");

* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;

}

:root {
  --peach: #fb9898;
  --primary: #444444;
  --secondary: #383838;
  --active-tabs: #fff7d4;
  --font-color: #1e3264;
  --svg-color: #8e98b1;
  --active-side-tab: #afafaf;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33476b4d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #33466999;
}

/* =====EVENT MANAGEMEBNT PAGES CSS ====== */

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 9px 0px 23px 0px;
}

#label {
  font-size: 11px;
  font-weight: normal;
  color: var(--secondary);
  margin-left: 11px;
}

.main-container {
  background: #d1e5e1;
  padding: 18px;
  margin: 0;
  padding-bottom: 150px;
  height: 100%;
}

.svg-icon {
  width: 22px;
  height: 18px;
}

/* Fonts */
.title {
  font-size: 17px;
  font-weight: 500;
  color: var(--primary);
}

#name-initial {
  background: #58c0a1;
  color: white;
  border-radius: 7px;
  height: 20px;
  width: 23px;
  padding: 6px;
}

#name-initial-icon {
  background: #58c0a1;
  color: white;
  padding: 7px 9px;
  border-radius: 7px;
}

.sub-title {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--primary);
}

.initials {
  display: flex;
}

#sub-title {
  font-size: 11px;
  position: absolute;
  top: 180px;
  left: 56px;
  color: var(--secondary);
  font-weight: 500;
}

#sub-title-2 {
  font-size: 11px;
  position: absolute;
  top: 180px;
  left: 167px;
  color: var(--secondary);
  font-weight: 500;
}

#sub-title-3 {
  font-size: 11px;
  position: absolute;
  top: 180px;
  left: 270px;
  color: var(--secondary);
  font-weight: 500;
}

/* fonts end */
/* main card css */
.card-container {
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 8px 11px;
  width: 98%;
  margin-right: 35px;
  display: flex;
}

.section-1 {
  padding: 5px 5px;
  border-right: 1px solid rgb(206, 206, 206);
  width: 100%;
}

.section-2 {
  padding: 5px 5px;
  border-right: 1px solid rgb(206, 206, 206);
  width: 100%;
}

.section-3 {
  padding: 5px 5px;
  width: 100%;
}

.flex {
  display: flex;
  margin-top: 13px;
  padding: 5px 5px;

}

#flex {
  display: flex;
  justify-content: space-around;
}

.user-img {
  height: 32px;
  width: 36px;
  border-radius: 7px;
}

.circle {
  background: #fff;
}

.footer {
  height: 36px;
  align-items: flex-end;
  display: flex;
  margin: 5px 5px
}

/* main card css end */
/* ========EVENT MANAGEMENT CSS END====== */

/* Input */
.did-floating-label-content {
  position: relative;
  width: 100%;
}

.did-floating-label {
  color: #1e4c82;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: 11px;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
  font-size: 12px;
  width: calc(100% - 22px);
  height: 32px;
  padding: 0 1px;
  background: #fff;
  color: rgb(37, 37, 37);
  border: none;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  margin-left: 7px;
  font-weight: 500;
  align-items: flex-end;
}

select.did-floating-select::-ms-expand {
  display: none;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
  top: -5px;
  font-size: 11px;
  font-weight: 500;
}

.did-floating-select:not([value=""]):valid~.did-floating-label {
  top: -3px;
  font-size: 11px;
}

.did-floating-select[value=""]:focus~.did-floating-label {
  top: -3px;
  font-size: 11px;
}

.did-floating-label {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--secondary);
}

.head-title {
  color: var(--primary);
  font-weight: 600;
  font-size: 10px;
}

.head-sub-title {
  font-size: 14px;
  color: var(--primary);
}

.section-top {
  display: flex;
  justify-content: space-between;
  padding: 0 0px 9px 0;
}

#section-top {
  display: flex;
  justify-content: space-between;
  padding: 14px 38px 14px 9px;
}

.close {
  display: flex;
  align-items: center;
}

.svg-icon-close {
  background: #fff;
  padding: 9px 6px;
  border-radius: 16px;
  margin: 0 14px 12px 0;
  width: 19px;
  height: 13px;
  box-shadow: -1px 14px 22px -2px #9c9b9b63;
  background-image: linear-gradient(181deg, #0000001a, #ffffff00);
}

.sub-title-close {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--secondary);
}

#svg-icon-active {
  enable-background: new 0 0 408.576 408.576;
  position: absolute;
  left: 248px;
  top: 112px;
}

.btn {
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  background: #339C7D;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  right: 32px;
  bottom: -15px;
}