@charset "utf-8";

@font-face {
  src: url("../fonts/GoogleSans-Regular.ttf");
  font-family: GSans Reg;
}

@font-face {
  src: url("../fonts/GoogleSans-Medium.ttf");
  font-family: GSans Med;
}

@font-face {
  src: url("../fonts/GoogleSans-Bold.ttf");
  font-family: GSans Bold;
}

* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  overflow-x: hidden;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

:root {
  --primary: #f36e6e;
  --secondary: #ffffff;

  --peach: #f36e6e;
  --purple: #b29eca;
  --orange: #ed9768;
  --blue: #22b8e9;
  --green: #3eb390;
  --yellow: #f9a803;
  --dark-blue: #0a84ff;
  --warning: rgb(235, 207, 45);
  --danger: #DC3545;
  --info: #17A2B8;
  --success: #28A745;

  --dark-blue-hex: rgb(10 67 255 / 19%);
  --secondary-hex: rgb(34 184 233 / 19%);
  --success-hex: rgb(40 167 69 / 19%);
  --info-hex: rgb(23 162 184 / 19%);
  --warning-hex: rgb(235 207 45 / 19%);
  --danger-hex: rgb(220 53 69 / 19%);
  --dark-hex: rgb(33 37 41 / 19%);

  --active: #0a43ff;
  --desabled: #ffffff66;

  --font-primary: #334669;
  --font-secondary: #566886;
  --font-desabled: #9dadc0;

  --theme-light: #e3f1fa;
  --theme-dark: #161718;
  --font-color: #343a40;

  --vision-nav: #687285
}

/* ========animation====== */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dark-mode {
  background-color: var(--theme-dark) !important;
  color: white !important;
}

.animation {
  animation: spin 2s linear infinite;
  font-size: 18px;
}

.container {
  padding: 1.5rem;
}

/*====fonts==== */
.title {
  font-size: 2.2em;
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  letter-spacing: 1pt;
  color: inherit;
}

.card-title {
  font-size: 1.125em;
  font-weight: 500;
  margin: 0 0 1rem 0;
  letter-spacing: 0.6pt;
  color: inherit;
}

.txt-info {
  font-size: 0.875em;
  color: inherit;
  opacity: 0.8;
  margin: 0 0 1rem 0;
}

.fs-1 {
  font-size: 2.03125rem !important;
}

.fs-2 {
  font-size: 1.625rem !important;
}

.fs-3 {
  font-size: 1.421875rem !important;
}

.fs-4 {
  font-size: 1.21875rem !important;
}

.fs-5 {
  font-size: 1.015625rem !important;
}

.fs-6 {
  font-size: .8125rem !important;
}

/*  font-weight */
.fw-bold {
  font-weight: 700 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-lighter {
  font-weight: lighter !important;
}

.fst-italic {
  font-style: italic !important;
}

.fst-normal {
  font-style: normal !important;
}

/* text case */
.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

/* ====Flex==== */
.flex {
  display: flex;
  padding: 5px 5px;
  justify-content: space-around;
}

#flex {
  display: flex;
}

.d-flex {
  display: flex;
  align-items: center;
}

#block {
  display: block;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1.5rem !important;

}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.flex-grow-1 {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

/* =====Positions===== */
.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.top-0 {
  top: 0 !important;
}

.start-100 {
  left: 100% !important;
}


/* =====Buttons==== */
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 0.9rem;
  font-size: .8125rem;
  border-radius: 0.25rem;
}

.btn-light {
  color: #000;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-primary {
  color: #fff;
  background-color: var(--active);
  border-color: var(--active);
}

.btn-secondary {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-success {
  color: #fff;
  background-color: var(--success);
  border-color: var(--success);
}

.btn-info {
  color: #fff;
  background-color: var(--info);
  border-color: var(--info);
}

.btn-warning {
  color: #fff;
  background-color: var(--warning);
  border-color: var(--warning);
}

.btn-danger {
  color: #fff;
  background-color: var(--danger);
  border-color: var(--danger);
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-disable {
  background-color: var(--desabled);
  color: var(--font-desabled);
  cursor: no-drop !important;

}

.btn-link {
  font-weight: 400;
  color: var(--active);
  text-decoration: underline;
}

.btn-outline-primary {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.btn-outline-secondary {
  color: var(--blue);
  border-color: var(--blue);
}

.btn-outline-success {
  color: var(--success);
  border-color: var(--success);
}

.btn-outline-info {
  color: var(--info);
  border-color: var(--info);
}

.btn-outline-warning {
  color: var(--warning);
  border-color: var(--warning);
}

.btn-outline-danger {
  color: var(--danger);
  border-color: var(--danger);
}

.btn-outline-danger {
  color: var(--danger);
  border-color: var(--danger);
}

.btn-outline-dark {
  color: var(--theme-dark);
  border-color: var(--theme-dark);
}

.btn-outline-light {
  color: var(--font-desabled);
  border-color: var(--font-desabled);
}

.btn-soft-primary {
  color: var(--dark-blue);
  background-color: var(--dark-blue-hex);
  border-color: transparent;
}

.btn-soft-secondary {
  color: var(--blue);
  background-color: var(--secondary-hex);
  border-color: transparent;
}

.btn-soft-success {
  color: var(--success);
  background-color: var(--success-hex);
  border-color: transparent;
}

.btn-soft-info {
  color: var(--info);
  background-color: var(--info-hex);
  border-color: transparent;
}

.btn-soft-warning {
  color: var(--warning);
  background-color: var(--warning-hex);
  border-color: transparent;
}

.btn-soft-danger {
  color: var(--danger);
  background-color: var(--danger-hex);
  border-color: transparent;
}

.btn-soft-dark {
  color: var(--theme-dark);
  background-color: var(--dark-hex);
  border-color: transparent;
}

.bg-gradient {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}


/* =========background colors======== */
.bg-primary {
  background-color: var(--peach);
}

.bg-secondary {
  background-color: var(--info);
}

.bg-success {
  background-color: var(--success);
}

.bg-info {
  background-color: var(--blue);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-dark {
  background-color: var(--theme-dark);
}

.btn-load .spinner-border,
.btn-load .spinner-grow {
  height: 19px;
  width: 19px;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border !important;
  animation: .75s linear infinite spinner-border;
}

/* ====fonts(typography)==== */
.font-details {
  font-weight: 500;
  color: var(--font-color);
}

.h1 {
  font-size: 2.03125rem;
}

.h2 {
  font-size: 1.625rem;
}

.h3 {
  font-size: 1.42188rem;
}

.h4 {
  font-size: 1.21875rem;
}

.h5 {
  font-size: 1.01563rem;
}

.h6 {
  font-size: 0.8125rem;
}

cite {
  font-style: italic;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


/* =====preview section======*/
.preview {
  display: flex;
  gap: 0.8rem !important;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

/* ======margin-padding-border-radius====== */
.m-b {
  margin-bottom: 1rem;
}

.mt-0 {
  margin-top: 0 !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem;
}

.me-3 {
  margin-right: 1rem !important;
}

.align-middle {
  vertical-align: middle !important;
}

.mb-lg-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

/* ======code===== */
code {
  font-size: 0.875em;
  color: var(--dark-blue);
  word-wrap: break-word;
  font-weight: 500;
  letter-spacing: 0.5pt;
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
}


/* ====card====== */
.card {
  border-radius: 0.8rem;
  margin: 0 0 1.5rem 0;
  padding: 1rem;
}

.card-shadow {
  box-shadow: 2px 2px 8px -4px rgb(0 0 0 / 30%),
    -4px -4px 8px -4px rgb(255 255 255), -1px 0px 0px 1px rgb(255 255 255);
}

.card-shadow-dark {
  box-shadow: 2px 2px 8px -4px rgb(0 0 0 / 30%), -4px -4px 8px -4px rgb(92 90 90), -1px 0px 0px 1px rgb(66 66 66) !important;
}

.container {
  padding: 1.5rem;
}

.theme-light {
  background-color: var(--theme-light);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33476b4d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #33466999;
}

.container-home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin: 0 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  height: 48px;
}

.flex-div {
  display: flex;
  align-items: center;
}

.flx {
  display: flex !important;
}

.aic {
  align-items: center !important;
}

.jcc {
  justify-content: center !important;
}

.c-tabs {
  background-color: rgb(255 255 255 / 40%);
  border-radius: 22px;
  margin: 0 4px;
  height: 28px;
  width: 28px;
  cursor: pointer;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  text-align: center;
}

.act_tab {
  background-color: var(--peach);
}

.act_icn {
  fill: #ffffff !important;
}

.name {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 500;
}

#h-wid-icn {
  height: 18px;
  width: 22px;
  color: #3e3e3e;
}

.desc {
  font-size: 12px;
  color: var(--font-color);
  opacity: .8;
  margin: 0 6px;
}

.desc-bold {
  color: #6a6a6b;
  font-size: 12px;
  font-weight: 500;
}

#desc {
  font-size: 12px;
  color: var(--secondary);

}

#fullscreen-btn {
  font-size: 14px;
  color: var(--secondary);
  border: none;
  background: transparent;
  margin: 0 8px;
}

#Myid {
  margin: 0 6px;
}

/* Popup start */
.pop-up {
  padding: 8px 4px;
  margin: 6px;
  background: #f1f1f1;
  cursor: pointer;
  border-radius: 6px;
}

/* Popup End */
/* hamburger css full screen */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 36px;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  margin: 12px 6px;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.sidebar .closebtn {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 24px;
  margin-left: 50px;
  background: #40BB91;
  padding: 0px 8px;
  border-radius: 38px;
  text-decoration: none;
  color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}


.openbtn {
  font-size: 22px;
  cursor: pointer;
  color: white;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* slider menu css */
.slide-header {
  background: #38C796;
  align-items: center;
  justify-content: space-between;
  padding: 22px 8px;
}

#slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
}

.slider-logo {
  background: #fff;
  padding: 20px 3px;
  border-radius: 33px;
  width: 56px;
  margin: 0 6px;
  border: 3px solid #9CE3CB;
}

.logo-content {
  display: flex;
  align-items: center;
}

#slider-logo {
  height: 18px;
  width: 56px;
}

.slider-font {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.workflow {
  display: flex;
  justify-content: space-around;
}

.explore {
  padding: 4px 6px;
  background: #40BB91;
  border-radius: 12px;
  height: 18px;
  width: 16px;
}

/* slider menu css end */

/* hamburger css end full screen */
/* search scope popup pannel */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #dee1e5;
  margin: auto;
  border: 1px solid #888;
  width: 23%;
  height: 73%;
  border-radius: 16px;
}

.close {
  color: #68ab91;
  background: #ebedef;
  padding: 4px 12px;
  border-radius: 14px;
  position: relative;
  top: 14px;
  left: -135px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  font-size: 12px;
  color: var(--secondary);
  cursor: pointer;
}

.search {
  display: flex;
  background: #5fdeb2;
  color: #fff;
  padding: 6px 4px;
  margin: 0 0px 8px 0;
  border-radius: 9px;
}

#input {
  padding: 8px 6px;
  margin: 6px 0;
  width: calc(100% - 20px);
  border: 1px solid rgb(185, 185, 185);
  background: #f5f5f5;
  border-radius: 8px;
}

.flex-popup {
  display: flex;
  justify-content: space-between;
  padding: 5px 1px;
  margin: 5px 0;
}

.card-popup {
  height: 75%;
  background: rgb(255, 255, 255);
  margin: 28px 0px;
  padding: 13px 9px;
  border-radius: 0px;
}

#month {
  height: 30px;
  width: 97px;
  border-radius: 7px;
  border: 1px solid rgb(185, 185, 185);
}

#num-input {
  height: 32px;
  width: 38%;
  border-radius: 7px;
  border: 1px solid rgb(185, 185, 185);
}

.dates {
  margin: 18px 0;
}

.popup-btn {
  display: flex;
  justify-content: flex-end;
  margin: 0px 14px;
  position: absolute;
  right: 526px;
  bottom: 185px;
}

/* search scope popup pannel end */
.options {
  display: flex;
  align-items: center;
  margin: 8px 4px;
}

.col-3 {
  width: 12%;
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  background: var(--vision-nav);
  height: 44px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid #5fdeb2;
  height: 38px;
  top: 0;
}

#nav-tab-text {
  color: #fff;
  font-size: 14px;
}

.nav-tab-text {
  font-size: 14px;
}

.nav-tab {
  margin: 0 3px;
  width: 50%;
  text-align: start;
  font-size: 14px;
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-search {
  width: 50%;
  text-align: right;
}

#nav-search {
  display: flex;
  align-items: center;
}

.dropbtn {
  font-size: 14px;
  font-family: GSans Med;
  color: var(--font-color);
  padding: 6px;
  border-radius: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
}

.dropdown:hover {
  animation: animateColors 1s infinite;
}

.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.dropdown-content a:hover {
  background-color: #5fdeb2;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: #5fdeb2;
  color: #fff;
}

.input {
  width: 48%;
  background: #efefef;
  border: none;
  padding: 6px 11px;
  border-radius: 4px;
}

.sub-title {
  font-size: 12px;
  color: #fff;
}

#sub-title {
  font-size: 14px;
  color: var(--font-color);
}

.dashboard {
  width: 100%;
  display: flex;
}

div.col-3-main {
  overflow: scroll;
  overflow-x: hidden;
}

.col-3-main {
  width: 21%;
  background: #fff;
  height: 498px;
}

a {
  text-decoration: none;
}



/* Dropdown */
.bg-0 {
  background-color: var(--bg-0) !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.headline-color {
  color: var(--color-0) !important;
}

.regular-color {
  color: var(--svg-color);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 22px);
  align-items: center;
  margin: 12px 0px;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
}

.wraper {
  display: flex;
  justify-content: center;
}

.collapsed-menu {
  position: relative;
  overflow: hidden;
  max-height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  transition: max-height 0.2s ease;
  border-radius: 4px;
  padding: 2px 0;
  margin: 6px 0px;
  width: calc(100% - 14px);
}

.collapsed-menu.toggled {
  max-height: 100%;
  max-width: 100%;
}

.collapsed-menu>.collapsed-menu-btn span {
  transform: rotate(-90deg);
}

.collapsed-menu.toggled>.collapsed-menu-btn span {
  transform: rotate(0);
}

.collapsed-menu .collapsed-menu-list {
  list-style-type: none;
  padding: 0.2em;
  margin: 8px 0;
  width: calc(100% - 7px);
}

/*      styled item              */
.styled-link {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
  flex-direction: row-reverse !important;
  cursor: pointer;
  position: relative;
  gap: 0.2em;
  padding: 0 0.8em;
  text-decoration: none;
  width: 100%;
}

.styled-link:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-1);
  opacity: 0;
  content: " ";
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  width: calc(100% - 20px);
}

.styled-link:hover:before {
  opacity: 0.2;
  border-radius: 8px;
}

.styled-link:active:before {
  opacity: 0.4;
  border-radius: 2px;
}

.styled-link *,
.styled-link *:before,
.styled-link *::after {
  transition: 0.2s ease-in-out;
  user-select: none;
}

.styled-link span {
  padding: 2px;
  aspect-ratio: 1;
  font-size: 18px;
}

.styled-link p,
.styled-link span {
  vertical-align: middle;
  font-weight: 600;
  font-size: 12px;
  color: var(--font-color);
}

.styled-link p {
  opacity: 0.8;
  position: relative;
  width: calc(100% - 32px);
  justify-content: space-between;
  display: flex;
  align-items: center;

}

.styled-link p:before {
  position: absolute;
  content: " ";
  width: 0%;
  border-bottom: 1px solid var(--color-1);
  height: 100%;
  margin: 0 49%;
}

.styled-link:hover p {
  opacity: 1;
}

.styled-link:hover p:before {
  width: 60%;
  margin: 0 20%;
}


/* col-3 maindashboard css end */
div.col-8-main {
  overflow: scroll;
  overflow-x: hidden;
}

.col-8-main {
  width: 76%;
  background: #efefef;
  height: 498px;

}

div.col-1-main {
  overflow: hidden;
  position: fixed;
  right: 0;
  width: 3%;
}

.col-8-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 7px;
  margin: 14px 4px;
}

#col-8-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 8px;
  margin: 14px 4px;
}

/* content */
/* .card {
  margin: 0px 18px;
  border: 1px solid rgb(192, 192, 192);
} */

/* grid view /list view css */

.filter-buttons {
  display: flex;
  margin-bottom: 20px;
}

.list-view-button,
.grid-view-button {
  padding: 6px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.table-view-button {
  padding: 6px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.list-view-button:hover,
.grid-view-button:hover,
.table-view-button:hover {
  background: #ffffff;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.list.list-view-filter {
  flex-direction: column;
}

.list.grid-view-filter {
  flex-flow: row wrap;
}

.list.list-view-filter li {
  margin: 0;
}

.list.grid-view-filter li {
  width: calc(50% - 183px);
  margin: 21px 3px 0px 7px;
  /* padding: 7px 5px; */
}

/* grid view list view css end */

.view {
  margin: -1px 4px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content-desc {
  padding: 2px 13px;
  align-items: center;
  text-align: di;
  justify-content: center;
  margin: 11px 0;
}

/* col8 css */
.top-btn {
  display: flex;
  align-items: center;
}

#top-btn {
  display: flex;
  align-items: center;
}

.btn-home {
  background: #68ab91;
  padding: 7px 17px;
  margin: 4px 8px 4px 8px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  border-radius: 17px;
}

.white-icon {
  color: #fff;
}

.btn:active {
  background-color: #5fdeb2;
  color: #fff;
}

#full-screen {
  width: 21px;
  height: 13px;
}

.name-initial {
  width: 22px;
  text-align: center;
  background: #cfbebe;
  color: #fff;
  height: 21px;
  padding: 4px;
  border-radius: 27px;
  margin: 4px 4px;
}

.name-lists-card {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0px 5px;
  text-decoration: none;
}

#name-lists-card {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0px 5px;
  text-decoration: none;
}

.toggle-content {
  background: #fff7d4;
  border-bottom: 1px solid lightgray;
  padding: 7px 5px;
  padding: 1px 0px 8px 0;
  text-align: center;
  display: none;
}

#tab-btn {
  border: 1px solid #a7a7a7;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 0px 2px 0px 8px;
  cursor: pointer;
}

#name-lists-card {
  background: #fff7d4;
}

.section-1 {
  display: flex;
}

.section-2 {
  text-align: end;
  margin: 0 10px;
}

/* col-1 */
#icons {
  height: 14px;
  width: 16px;
  margin: 6px 7px;
  fill: #7e7e7e;
}

.icons {
  background: #fff;
  border-radius: 41px;
  margin: 10px 3px;
  padding: 6px 6px;
  height: 22px;
  width: 22px;
  text-align: center;
}

.active-dot-num {
  background: #5fdeb2;
  padding: 3px 3px;
  font-size: 12px;
  border-radius: 18px;
  color: #fff;
}

/* footer css */
.footer {
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
  width: 20%;
  padding: 0 7px;
  background: #dddddd;
  position: fixed;
  bottom: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  background: #dddddd;
  height: 27px;
  padding: 4px 12px;
  position: fixed;
  bottom: 0;
  width: 74%;
}

#number {
  font-size: 12px;
  margin: 5px;
  color: #5fdeb2;
}

.active-num {
  background: #5fdeb2;
  color: #fff;
  font-size: 12px;
  margin: 6px;
  padding: 2px 4px;
  border-radius: 18px;
}

.fav {
  display: flex;
  align-items: center;
}

.show-all {
  display: flex;
  align-items: center;
}

.assistante {
  display: flex;
  align-items: center;
}

/* floating labels */

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}

.did-floating-label {
  color: #1e4c82;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 12px;
  padding: 0 6px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
  font-size: 12px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 0px 20px;
  background: rgb(255, 255, 255);
  color: rgb(50, 56, 64);
  border: none;
  border-bottom: 1px solid #d4d3d3;
  box-sizing: border-box;
}

select.did-floating-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.did-floating-select::-ms-expand {
  display: none;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
  top: -8px;
  font-size: 13px;
}

.did-floating-select:not([value=""]):valid~.did-floating-label {
  top: -8px;
  font-size: 13px;
}

.did-floating-select[value=""]:focus~.did-floating-label {
  top: 11px;
  font-size: 12px;
}

.did-floating-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
  background-position: right 15px top 50%;
  background-repeat: no-repeat;
}

.did-floating-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
}

.did-floating-input {
  border-left: 0;
  padding-left: 0;
}

.input-group {
  display: flex;
}

.input-group-append {
  display: flex;
  align-items: center;
}

.input-group-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 34px;
  color: #323840;
  padding: 0 5px 0 20px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #3d85d8;
  border-radius: 4px 0 0 4px;
  border-right: none;
}

/* col-3-main popup */
.popup {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup-content {
  height: 100%;
  width: 100%;
}

/* col-3-main-popup end */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
/* =====iframe-section===== */
.iframe-section {
  position: absolute;
  width: calc(100% - 20%);
  overflow: hidden;
  display: content;
  height: 100%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* ==============================Dashboard Pages================== */
/* =====Typography Css==== */
.display-1 {
  font-size: 5rem;
  color: var(--font-color);
}

.display-2 {
  font-size: 4.5rem;
  color: var(--font-color);
}

.display-3 {
  font-size: 4rem;
  color: var(--font-color);
}

.display-4 {
  font-size: 3.5rem;
  color: var(--font-color);
}

.display-5 {
  font-size: 3rem;
  color: var(--font-color);
}

.display-6 {
  font-size: 2.5rem;
  color: var(--font-color);
}

.blockquote {
  padding: 10px 20px;
  border-left: 4px solid #878e91;
}

.blockquote>:last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  font-size: .875em;
  color: #878a99;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid #878e91;
  text-align: right;
}

.blockquote-footer::before {
  content: "— ";
}

.custom-blockquote.blockquote.blockquote-primary {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
  background-color: rgba(75, 56, 179, .15);
}

.custom-blockquote.blockquote {
  padding: 16px;
  border-left: 3px solid;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: .89375rem;
}

.custom-blockquote.blockquote.blockquote-secondary {
  color: var(--blue);
  border-color: var(--blue);
  background-color: rgba(53, 119, 241, .15);
}

.custom-blockquote.blockquote.blockquote-success {
  color: var(--success);
  border-color: var(--success);
  background-color: rgba(69, 203, 133, .15);
}

.custom-blockquote.blockquote.blockquote-danger {
  color: var(--danger);
  border-color: var(--danger);
  background-color: rgba(240, 101, 72, .15);
}

.custom-blockquote.blockquote.blockquote-outline.blockquote-primary {
  border-color: var(--dark-blue);
}

.custom-blockquote.blockquote.blockquote-outline {
  background-color: var(--theme-light) !important;
  border: 1px solid;
  border-left: 3px solid;
}

.lead {
  font-size: 1.015625rem;
  font-weight: 300;
}

/*=====Badges.html starts=====*/
.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-soft-primary {
  color: var(--active);
  background-color: rgba(75, 56, 179, .1);
}

.badge-soft-secondary {
  color: var(--blue);
  background-color: rgba(53, 119, 241, .1);
}

.badge-soft-success {
  color: var(--success);
  background-color: rgba(69, 203, 133, .1);
}

.badge-soft-info {
  color: var(--info);
  background-color: #43cde2b7;
}

.badge-soft-warning {
  color: var(--warning);
  background-color: rgba(255, 190, 11, .1);
}

.badge-soft-danger {
  color: var(--danger);
  background-color: rgba(240, 101, 72, .1);
}

.badge-soft-dark {
  color: var(--theme-dark);
  background-color: rgba(51, 51, 51, 0.514);
}

/* outline badges */
.badge-outline-primary {
  color: var(--active);
  border: 1px solid var(--active);
  background-color: transparent;
}

.badge-outline-secondary {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: transparent;
}

.badge-outline-success {
  color: var(--success);
  border: 1px solid var(--success);
  background-color: transparent;
}

.badge-outline-info {
  color: var(--info);
  border: 1px solid var(--info);
  background-color: transparent;
}

.badge-outline-warning {
  color: var(--warning);
  border: 1px solid var(--warning);
  background-color: transparent;
}

.badge-outline-danger {
  color: var(--danger);
  border: 1px solid var(--danger);
  background-color: transparent;
}

.badge-outline-dark {
  color: var(--theme-dark);
  border: 1px solid var(--theme-dark);
  background-color: transparent;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.badge-border {
  border-left: 2px solid;
}

.badge-label {
  margin-left: 8px;
  position: relative;
}

.btn .badge {
  /* position: relative !important; */
  top: -10px !important;
  left: calc(100% - 14px) !important;
}

.color-bdge {
  padding: 6px 6px;
  border-radius: 1rem;
}

/* ========Alerts======== */
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: calc(50% - 0.5rem);
}

.alert {
  position: relative;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  color: var(--dark-blue);
  background-color: #a0cfff65;
  border-color: var(--dark-blue);
}

.alert-secondary {
  color: var(--blue);
  background-color: #98dcec7e;
  border-color: var(--blue);
}

.alert-success {
  color: var(--success);
  background-color: #a2dac97a;
  border-color: var(--success);
}

.alert-danger {
  color: var(--danger);
  background-color: rgba(238, 153, 127, 0.712);
  border-color: var(--danger);
}

.alert-warning {
  color: var(--warning);
  background-color: rgba(245, 237, 130, 0.767);
  border-color: var(--warning);
}

.alert-info {
  color: var(--info);
  background-color: #17a3b863;
  border-color: var(--info);
}

.alert-dark {
  color: var(--theme-dark);
  background-color: rgba(168, 168, 168, 0.527);
  border-color: var(--theme-dark);
}

.alert-light {
  color: #b6b9bb;
  background-color: #fdfefe;
  border-color: #969696;
}

.alert-borderless {
  border-width: 0;
}

.alert-dismissible {
  padding-right: 3rem;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 13px 8px;
  background: transparent;
  border: none;
}

.alert-border-left {
  border-left: 3px solid;
}

.alert-border-left.alert-primary {
  border-left-color: var(--dark-blue);
}

.alert-additional .alert-body {
  padding: 0.8rem 1rem;
}

.alert-additional .alert-content {
  padding: 0.8rem 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin: 0 -1px -1px -1px;
}

.alert-additional.alert-primary .alert-content {
  background-color: var(--dark-blue);
  color: #fff;
}

.alert-additional.alert-danger .alert-content {
  background-color: #f06548;
  color: #fff;
}

.alert-additional.alert-success .alert-content {
  background-color: #45cb85;
  color: #fff;
}

.alert-additional.alert-warning .alert-content {
  background-color: #ffbe0b;
  color: #fff;
}

.alert-additional {
  padding: 0;
}

/* =========Media Queries======*/
@media screen and (min-width: 820px) {
  #nav-tab-text-mobile {
    display: none;
  }

  .top-nav {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 790px) {

  #main {
    display: none;
  }

  #Myid {
    display: none;
  }

  .user-img {
    display: none;
  }

  .header {
    display: none;
  }

  .col-3-main {
    display: none;
    width: 100%;
  }

  .col-1-main {
    display: none;
  }

  .col-8-main {
    width: 100%;
  }

  .dashboard {
    width: 100% !important;
  }

  .col-8-top {
    display: none;
  }

  #col-8-top {
    display: none;
  }

  #options {
    display: none;
  }

  .nav-bar {
    border-top: none;
    background: #f9a803;
    position: sticky;
    height: 39px;
  }

  .popup {
    display: none;
  }

  /* fonts */
  .desc-bold {
    font-size: 12px;
  }

  .desc {
    font-size: 10px;
  }

  /* fonts end */
  /* Content */
  .name-lists-card {
    padding: 3px 3px;
    border-bottom: 1px solid #cecece;
  }

  #name-lists-card {
    padding: 3px 0;
    border-bottom: 1px solid #cecece;
  }

  .nav-search,
  #nav-search {
    display: none;
  }

  .section-2 {
    display: none;
  }

  #nav-tab-text {
    display: none;
  }

  #nav-tab-text-mobile {
    color: #fff;
    font-size: 14px;
  }

  .name-initial {
    width: 24px;
    height: 18px;
    padding: 4px;
    font-size: 14px;
  }

  .top-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: #e6e6e6;
  }

  .modal {
    padding-top: 0;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .popup-btn {
    position: absolute;
    bottom: 10px;
    left: 277px;
  }

  .footer-page {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .text-hide {
    display: none;
  }

  .icon-hide {
    margin-right: 0;
  }
}